@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: Montserrat, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    height: 100vh;
}

.zoom-on-hover {
    transition: transform 0.3s ease; /* Smooth transition for the zoom effect */
}

.zoom-on-hover:hover {
    transform: scale(1.05); /* Scales the image to 105% of its original size */
}

.card-block:hover .plus-circle {
    fill: #1A2141; /* Change to desired hover color */
}

.card-block:hover .plus-path {
    stroke: white; /* Change to desired hover color */
}

.circle:hover {
    width: 42px;
    height: 42px;
    background: white;
    border: 2px solid #1A2141;
}

.circle:hover div{
    background: #1A2141;
}

.circle:hover span{
    color: white;
}

.block-editor__container img {
    max-width: none; !important;
}
